.container {
    max-width: 960px;
}

.lh-condensed {
    line-height: 1.25;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.info-radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.info-radio-button {
    margin: 5px;
    font-weight: normal !important;
}

.text-area-comentario {
    height: 100px;
}

.foto-image {
    width: 100%;
    max-width: 480px;
    max-height: 640px;
}

.btn-facetec {
    margin-right: 10px;
}