<mat-expansion-panel [expanded]="true">
    <form [formGroup]="formPesquisa">
        <mat-form-field>
            <input matInput placeholder="Domínio" formControlName="dominio" required>
        </mat-form-field>

        <label *ngIf="btnPesquisar.waiting">Device pesquisado no IP: {{ ipVerificado }}</label>

        <mat-action-row>
            <button class="btn btn-lg btn-facetec" [disabled]="formPesquisa.invalid || btnPesquisar.waiting"
                #btnPesquisar=async-btn async-btn (click)="pesquisar()"
                [loadingLabel]="'Pesquisando...'">Pesquisar</button>
            <button class="btn btn-primary btn-lg btn-facetec" [disabled]="form.invalid || btnSalvar.waiting"
                (click)="salvar()" #btnSalvar=async-btn async-btn [loadingLabel]="'Gravando...'">Salvar</button>
        </mat-action-row>
    </form>
</mat-expansion-panel>

<div class="mat-elevation-z8 inner-tab">
    <form [formGroup]="form">
        <mat-form-field>
            <input matInput type="password" placeholder="Senha admin" formControlName="adminPassword" required>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" formArrayName="devices">

            <ng-container matColumnDef="ip">
                <th mat-header-cell *matHeaderCellDef> IP </th>
                <td mat-cell *matCellDef="let element"> {{element['ip']}} </td>
            </ng-container>

            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome *</th>
                <td mat-cell *matCellDef="let element; let i=index" [formGroupName]="i">
                    <mat-form-field>
                        <input matInput formControlName="nome" required>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="classificacao">
                <th mat-header-cell *matHeaderCellDef> Classificação *</th>
                <td mat-cell *matCellDef="let element; let i=index" [formGroupName]="i">
                    <app-autocomplete [optionsList]="['Entrada', 'Saída']" formControlName="classificacao">
                    </app-autocomplete>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </form>
</div>