body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.login_container {
    background-image: url("../assets/facetec_background_s.jpg");
    height: 100%;
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    padding-top: 50px;
}