@import './app/theme';
@import '~material-design-icons/iconfont/material-icons.css';


// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component that you are using.
@include angular-material-theme($app-theme);

body {
  margin: 0;
  min-height: 100% !important;
  max-height: 100% !important;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  color: #292a1d;
}

.mat-expansion-panel-content {
  font-size: 18px !important;
  margin-top: 10px !important;
}

.mat-expansion-panel-header {
  max-height: 40px !important;
  height: 40px !important;
  font-size: 13px !important;
}

app-autocomplete.ng-dirty.ng-invalid {
  color: red;
}

app-autocomplete.ng-dirty.ng-invalid .mat-form-field-underline {
  background-color: red;
}

app-autocomplete.ng-dirty.ng-invalid .mat-form-field-label {
  color: red;
}

app-date-picker {
  width: 120px;
}

app-date-picker.ng-dirty.ng-invalid {
  color: red;
}

app-date-picker.ng-dirty.ng-invalid .mat-form-field-underline .mat-form-field-label {
  background-color: red;
}

app-date-picker.ng-dirty.ng-invalid .mat-form-field-label {
  color: red;
}

.mat-snack-bar-container {
  border-radius: 10px !important;
  max-width: 100% !important;
  min-width: 100% !important;
  min-height: 40px !important;
}

.error-snackbar {
  background-color: rgb(160, 0, 0);
  color: white;

  .mat-simple-snackbar-action {
    color: white !important;
  }
}

.success-snackbar {
  background-color: rgb(0, 97, 0);

  .mat-simple-snackbar-action {
    color: white !important;
  }
}

mat-form-field {
  margin-right: 5%;
}

.mat-slide-toggle {
  margin-right: 60px
}

.btn-facetec {
  margin-right: 10px;
}